<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Desktop_Web_Tiles.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <userSettings>
        <Desktop_Web_Tiles.Properties.Settings>
            <setting name="Browser1Location" serializeAs="String">
                <value>64, 64</value>
            </setting>
            <setting name="Browser2Location" serializeAs="String">
                <value>64, 64</value>
            </setting>
            <setting name="Browser3Location" serializeAs="String">
                <value>64, 64</value>
            </setting>
            <setting name="Browser4Location" serializeAs="String">
                <value>64, 64</value>
            </setting>
            <setting name="Browser1Height" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="Browser2Height" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="Browser3Height" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="Browser4Height" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="Browser1Width" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="Browser2Width" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="Browser3Width" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="Browser4Width" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="browser1ButtonText" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="browser2ButtonText" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="browser3ButtonText" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="browser4ButtonText" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="savedURL1" serializeAs="String">
                <value>www.microsoft.com</value>
            </setting>
            <setting name="savedURL2" serializeAs="String">
                <value>www.google.com</value>
            </setting>
            <setting name="savedURL3" serializeAs="String">
                <value>www.wikipedia.com</value>
            </setting>
            <setting name="savedURL4" serializeAs="String">
                <value>www.youtube.com</value>
            </setting>
            <setting name="Autostart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Position_Right" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="styleURL1" serializeAs="String">
                <value>https://besticon-demo.herokuapp.com/icon?url=</value>
            </setting>
            <setting name="styleURL2" serializeAs="String">
                <value>https://besticon-demo.herokuapp.com/icon?url=</value>
            </setting>
            <setting name="styleURL3" serializeAs="String">
                <value>https://besticon-demo.herokuapp.com/icon?url=</value>
            </setting>
            <setting name="styleURL4" serializeAs="String">
                <value>https://besticon-demo.herokuapp.com/icon?url=</value>
            </setting>
            <setting name="styleURL_End1" serializeAs="String">
                <value>&amp;size=80..120..200</value>
            </setting>
            <setting name="styleURL_End2" serializeAs="String">
                <value>&amp;size=80..120..200</value>
            </setting>
            <setting name="styleURL_End3" serializeAs="String">
                <value>&amp;size=80..120..200</value>
            </setting>
            <setting name="styleURL_End4" serializeAs="String">
                <value>&amp;size=80..120..200</value>
            </setting>
            <setting name="iconStyle_1_Change" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="iconStyle_2_Change" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="iconStyle_3_Change" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="iconStyle_4_Change" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkBox_1_Sate" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="checkBox_2_Sate" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="checkBox_3_Sate" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="checkBox_4_Sate" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="First_exe" serializeAs="String">
                <value>True</value>
            </setting>
        </Desktop_Web_Tiles.Properties.Settings>
    </userSettings>
</configuration>